@import "tailwindcss";
@import 'pixel-retroui/dist/index.css';                                                    │


:root {
  font-family: 'Press Start 2P', cursive;
  font-size: clamp(14px, 0.5rem + 1vw, 22px);
  line-height: 1.5;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
}


.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 10vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
#center-contents{
  display: flex;
  align-items: center;      /* Vertical centering */
  justify-content: center;  /* Horizontal centering */
  height: 100%;            /* Full viewport height */
  flex-direction: column;
  gap: 5vh;
  
}
#full{
  width: 100%;
  height: 100%;
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
  text-align: center;
}


button{
  width: clamp(150px, 20vw, 300px);
  font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #212529;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  } 
}

@media screen and (max-width: 992px) {
  #center-contents {
    gap: 3vh;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 5vh;
  }

  #center-contents {
    gap: 2vh;
  }
}
